<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget_bld" value="https://repo.your.com/" />
  </packageSources>
  <packageSourceCredentials>
    <nuget_bld>
        <add key="Username" value="%NUGET_USER%" />
        <add key="ClearTextPassword" value="%NUGET_PASSWORD%" />
      </nuget_bld>
  </packageSourceCredentials>
</configuration>